body{
    background-color: #800000;
}

.top-container {
    position: relative;
    transition: left 500ms;
    left: 0;
    padding-top: 60px;
    background-color: white;
    max-width: 960px;
    margin: 0 auto;
}

.is-showing-nav {
    left: 250px;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,.6);
    display: none;
}

.is-showing-nav .overlay {
    display: block;
}

nav {
    position: fixed;
    top: 0;
    left: -250px;
    width: 250px;
    text-align: left;
    transition: left 500ms;
}

nav.is-showing-nav {
    left: 0;
}

.nav-item {
    display: block;
    width: 220px;
    background: #A00;
    border-bottom: 1px solid rgba(0,0,0,.1);
    border-top: 1px solid rgba(255,255,255,.1);
    font-size: 16px;
    padding: .9em;
    font-family: Verdana,Arial,Helvetica,sans-serif;
}

.nav-submenu {
    display: none;
}

.nav-submenu a, .nav-social-share {
    color: #FFF;
    display: block;
    width: 220px;
    background: #800000;
    border-bottom: 1px solid rgba(0,0,0,.1);
    border-top: 1px solid rgba(255,255,255,.1);
    font-size: 16px;
    padding: .9em;
    font-family: Verdana,Arial,Helvetica,sans-serif;
    margin-bottom: 0;
}

.nav-social-share {
    line-height: .9em;
}

nav a:focus, footer a:focus {
    outline: 0;
}

nav a:link {
    text-decoration: none;
    color: #ffffff;
}

nav a:visited {
    text-decoration: none;
    color: #ffffff;
}

nav a:hover {
    text-decoration: underline;
    color: #ffffff;
}

.nav-phone {
    text-decoration: none;
    text-align: center;
    background: #800000;
}

.nav-phone:hover, .header-phone:hover {
    text-decoration: none;
}

.share-link {
    display: inline-block;
    vertical-align: middle;
    margin-right: 1em;
}

header {
    height: 50px;
    line-height: .9em;
    border-bottom: 2px solid #800000;
    position: fixed;
    top: 0;
    width:100%;
    z-index: 10;
    padding: 10px;
    background-color: white;
}

.header-phone {
    padding: .9em;
}
.header-phone-text{
    line-height: 1.2em;
}

header a:hover {
    color:  #2B2A29;
}

header a {
    display: inline-block;
    vertical-align: middle;
    margin-right: 1em;
    font-family: Verdana,Arial,Helvetica,sans-serif;
    font-size: 15px;
    color: #2B2A29;
    margin-bottom: 0;
    text-decoration: none;
}

.menu-icon {
    width: 40px;
}

.logo {
    width: 20%;
}

.logo-image {
    height: 40px;
}

footer {
    background: #EEE;
    padding: 1em;
    text-align: center;
}

.footer-info {
    margin-bottom: 1.5em;    
}

footer a:link {
    text-decoration: none;
    color: #3E42CC;
}

footer a:visited {
    text-decoration: none;
    color: #3E42CC;
}

footer a:hover {
    text-decoration: underline;
    color: #3E42CC;
}

.feedback {
    background: white;
    padding: .5em;
    border-radius: 6px;
    max-width: 270px;
    margin:  0 auto 1.5em;
    border: 2px solid #800000;
}

.feedback > h3 
{
    color: #800000;
}

.back-to-top {
    height: 40px;
}

#mainImage img {
    margin-bottom: 30px;
    margin-top: 30px;
}

.resize img {
    max-width: 100%;
    height: auto;
}

#welcome {
    margin-bottom: 20px;
}

.lower {
    margin-top: 2%;
}

.nolink, .nolink:hover {
    text-decoration: none;
    color: inherit;
}

.nolink:hover h4 {
    text-decoration: underline;
}

.center {
    text-align: center;
}

.phone {
    font-size: 1.5em;
    margin-bottom: 20px;
}

#address {
    margin-bottom: 20px;
}

#hours {
    margin-bottom: 20px;
}

