
/* Larger than mobile */
@media (min-width: 400px) {
}

/* Larger than phablet (also point when grid becomes active) */
@media (min-width: 550px) {
    nav {
        display: block;
        left: 0;
        position: static;
        top: 0;
        width: 100%;
        padding: 3px;
        background-color: #AA0000;
        border-bottom: 2px solid #800000;
    }

    nav > a {
        display: inline-block;
        background: #A00;
        border: 0;
        font-size: 16px;
        padding: .3em;
        font-family: Verdana,Arial,Helvetica,sans-serif;
        width: auto;
    }

    .nav-social-share {
    	position: absolute;
    	top: 0;
    	right: 20px;
    	background-color: transparent;
        border: 0;
    }

    .nav-phone {
        display: none;
    }

    .menu-icon {
        display: none;
    }

    .content {
        margin-top: 100px;
    }

    .header, nav {
        position: static;
        max-width: 960px;
        margin: 0 auto;
    }

    .top-container{
        padding-top: 0;
    }
}

/* Larger than tablet */
@media (min-width: 750px) {

}

/* Larger than desktop */
@media (min-width: 1000px) {
}

/* Larger than Desktop HD */
@media (min-width: 1200px) {
    .phone {
        font-size: 2.0em;
    }
}
